*
{
    margin:0;
    padding:0;
    font-family: 'Lobster', cursive;
    
    
    
    
}
body{
    color:rgb(7, 3, 218);
   
    background-color:#9AC5F4;
}

ul
{
    display: flex;
    list-style: none;
    justify-content:center;
    align-items: center;
   
   
   

}


img
{
    width: 40px;
    height: 40px;

    
}
#navbar
{  
    position:fixed;
    display:flex;
    justify-content:space-between;
    align-items: center; 
    top:0;
    left :0;
    background-color: #99DBF5;
    height:48px;
    width: 100%;
    z-index: 1;
   
    
  
    
}
.navs
{
   margin-right: 30px;
   
 }
 .homes
{   
    position:relative;
    margin-top: 40px;
    
    background-size: cover;
    height:600px;
    z-index: 0;
  
}  
.abouts
{
    margin:80px 80px;
   padding-top: 60px;
   height:600px;
   border:2px solid black;
   border-radius: 40px;
   box-shadow:10px 10px 10px black;
   background-color: aliceblue;
    
}
.abouts h1
{
    
    text-align: center;
  
}
.abouts p
{
    margin: 100px 50px 0px 50px;
    padding-bottom: 100px;
   font-size: larger;
   font-style: normal;
   font-weight:lighter;
   line-height: 2;
    
}
.skills
{
    
    margin:80px 80px;
   padding-top: 60px;
   height:600px;
   border:2px solid black;
   border-radius: 40px;
   box-shadow:10px 10px 10px black;
   background-color: rgb(166, 188, 206);
}
.skills h1{
    text-align: center;
    margin-bottom:80px;
}
.skills form table,th{
    border:1px solid white;
    
}

.form
{
    margin-left: auto;
    margin-right: auto;
   
    
   
}
.contacts
{
    height:400px;
    width:60%;
    padding-top: 60px;
    border:2px solid red;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    align-items: center;
    background-color: aliceblue;
}
.contacts h1{
    text-align: center;
    margin-bottom: 20px;
}
 .contacts table
{   
    
    width:50%;
    margin-right: auto;
    margin-left: auto;
    
}
.label
{
    text-align: center;
    font-size: 20px;
    width:fit-content;
    
}
.rows
{
    height:50px;
    
}
.intro
{
     position :absolute;
   margin-top: 50px;
    left :100px;  
    top:100px;
}

.homes img{
    position: absolute;
    top:50px;
    left:900px;
    height:200px;
    width :200px;
    border-radius: 10px;
}
.intro h1{
   
    font-family: 'Playfair Display', serif;
    
}
.intro h3{
    
    font-family: 'Roboto', sans-serif;
}